/* src/styles/Login.css */
.login-container {
  /* max-width: 400px; */
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  /* border: 1px solid red; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container input:focus {
  border-color: #007bff;
  outline: none;
}

.login-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-links {
  text-align: right;
  margin-top: 15px;
}

.login-links a {
  color: gray;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.signup-prompt {
  text-align: center;
  margin-top: 30px; /* 위쪽 간격을 위해 추가 */
  font-size: 14px; /* 글자 크기 조정 */
  color: #666; /* 글자 색상 조정 */
}
